<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../my-components/tree-view.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="polymer1-app">
  <template>
    <style>
      :host {
        display: block;
      }
      div{
        width: 600px;
        height: 600px;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <div>
        <iron-ajax
            auto
            url="https://randomuser.me/api/?results=3"
            handle-as="json"
            last-response="{{response}}"></iron-ajax>
    <tree-view selected-path="{{path}}" selected-value="{{value}}" data="{{response}}"></tree-view>

    </div>
    <p>Path: [[path]]<br>
      Value: [[value]]</p>
  </template>

  <script>
    


    /**
     * @customElement
     * @polymer
     */
    class Polymer1App extends Polymer.Element {
      static get is() { return 'polymer1-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'polymer1-app'
          },
          path: {
            type: String,
            value: null,
          },
          value: {
            type: String,
            value: null,
          },
        };
      }
      ready(){
        super.ready();

        this.shadowRoot.querySelector('tree-view').addEventListener('cueSelected', kjor(e), false);
        
      }

      kjor(){
        this.path = e.detail.id;
        console.log('test');
      }

    }



    window.customElements.define(Polymer1App.is, Polymer1App);
  </script>
</dom-module>
