<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batteristatus</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<h1>Registrer batteristatus</h1>
<br>
<h2>{{melding}}</h2>
<br>
<form class="" action="./batteryStatus.php" method="post">
    <div class="row col-md-3">
        <div class="col">
            <label for="batteripakke" style="">Batteripakke</label>
        </div>
        <div class="col">
            <select id="batteripakke" name="batteripakke" class="form-control">
                <!-- JavaScript at the bottom fills here -->
            </select>
        </div>
    </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="fartoy" style="">Fartøy</label>
        </div>
        <div class="col">
            <select id="fartoy" name="fartoy" class="form-control">
                <!-- JavaScript at the bottom fills here -->
            </select>
        </div>
    </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="flytid" style="">Flytid</label>
        </div>
        <div class="col">
            <input id="flytid" name="flytid" type="time" value="00:00:00" step="1" class="form-control">
        </div>
    </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="kapasitet" style="">Gjennværende kapasitet</label>
        </div>
        <div class="col">
            <input id="kapasitet" name="kapasitet" type="number" min="0" max="100" class="form-control">
        </div>
    </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="dato" style="">Dato</label>
        </div>
        <div class="col">
            <input id="dato" name="dato" type="date" value="{{dato}}" class="form-control">
        </div>
    </div>

    <div class="col-md-1">
        <input type="submit" value="Lagre informasjon">
    </div>
</form>

<script>
    // retrieves the battery array from twig, and ads option elements to the select thing
    // I used these answers from stackoverflow to make it:
    // https://stackoverflow.com/a/6601129
    // https://stackoverflow.com/a/13929052

    var batterier = {{batteries|json_encode|raw}};
    var aircrafts = {{aircrafts|json_encode|raw}};

    var batterySelect = document.getElementById('batteripakke');
    var aircraftSelect = document.getElementById('fartoy');

    var arrayLength = batterier.length;
    for (var i = 0; i < arrayLength; i++) {
        var opt = document.createElement("option");
        opt.value= batterier[i].id;
        opt.innerHTML = '#' + batterier[i].id + ' - ' + batterier[i].cells + 'cell/' + batterier[i].capacity + ' mAh';

        batterySelect.appendChild(opt);
    }

    var arrayLength2 = aircrafts.length;
    for (var i = 0; i < arrayLength2; i++) {
        var opt2 = document.createElement("option");
        opt2.value= aircrafts[i].id;
        opt2.innerHTML = aircrafts[i].name;

        aircraftSelect.appendChild(opt2);
    }
</script>
</body>
</html>