<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Aircraft</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<h1>Registrer nytt fartøy</h1>
<br>
<h2>{{melding}}</h2>
<br>
<form class="" action="./newAircraft.php" method="post">
    <div class="row col-md-3">
        <div class="col">
            <label for="navn" style="">Navn:</label>
        </div>
        <div class="col">
            <input id="navn" name="navn" type="text" class="form-control">
        </div>
    </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="fpv" style="">FPV</label>
        </div>
        <div class="col">
            <input id="fpv" name="fpv" type="checkbox" value="yes" class="">
        </div>
    </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="camera" style="">Kamera</label>
        </div>
        <div class="col">
            <input id="camera" name="camera" type="checkbox" value="yes" class="">
        </div>
    </div>
    <div class="col-md-1">
        <input type="submit" value="Lagre informasjon">
    </div>
</form>
</body>
</html>