<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batteristatus</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<h1>Registrer batteristatus</h1>
<br>
<h2>{{melding}}</h2>
<br>
<form class="" method="POST">
    <div class="row col-md-3">
            <div class="col">
                <label for="celler" style="">Celler</label>
            </div>
            <div class="col">
                <select id="celler" name="celler" onChange="updateBatteries()" class="form-control">
                    <!-- JavaScript at the bottom fills here -->
                </select>
            </div>
        </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="batteripakke" style="">Batteripakke</label>
        </div>
        <div class="col">
            <select id="batteripakke" name="batteripakke" class="form-control">
                <!-- JavaScript at the bottom fills here -->
            </select>
        </div>
    </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="fartoy" style="">Fartøy</label>
        </div>
        <div class="col">
            <select id="fartoy" name="fartoy" class="form-control">
                <!-- JavaScript at the bottom fills here -->
            </select>
        </div>
    </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="flytid" style="">Flytid</label>
        </div>
        <div class="col">
            <input id="flytid" name="flytid" type="time" value="00:00:00" step="1" class="form-control">
        </div>
    </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="kapasitet" style="">Gjennværende kapasitet</label>
        </div>
        <div class="col">
            <input id="kapasitet" name="kapasitet" type="number" min="0" max="100" class="form-control">
        </div>
    </div>
    <div class="row col-md-3">
        <div class="col">
            <label for="dato" style="">Dato</label>
        </div>
        <div class="col">
            <input id="dato" name="dato" type="date" value="{{dato}}" class="form-control">
        </div>
    </div>

    <div class="col-md-1">
        <input type="button" onclick="sendFetch()" value="Lagre informasjon">
    </div>
</form>

<script>
    // retrieves the battery array from twig, and ads option elements to the select thing
    // I used these answers from stackoverflow to make it:
    // https://stackoverflow.com/a/6601129
    // https://stackoverflow.com/a/13929052

    var batterier = {{batteries|json_encode|raw}};
    var aircrafts = {{aircrafts|json_encode|raw}};
    var cells = {{cells|json_encode|raw}};

    var batterySelect = document.getElementById('batteripakke');
    var aircraftSelect = document.getElementById('fartoy');
    var cellSelect = document.getElementById('celler');


    var arrayLength3 = cells.length;
    for (var i = 0; i < arrayLength3; i++) {
        var opt3 = document.createElement("option");
        opt3.value= cells[i].cells;
        opt3.innerHTML = cells[i].cells + " cells";

        cellSelect.appendChild(opt3);
    }

    updateBatteries(); //init batteries

    var arrayLength2 = aircrafts.length;
    for (var i = 0; i < arrayLength2; i++) {
        var opt2 = document.createElement("option");
        opt2.value= aircrafts[i].id;
        opt2.innerHTML = aircrafts[i].name;

        aircraftSelect.appendChild(opt2);
    }

    function updateBatteries(){
        //need to removeAll inputs everytime we update
        while (batterySelect.firstChild) {
            batterySelect.removeChild(batterySelect.firstChild);
        }

        var arrayLength = batterier.length;
        for (var i = 0; i < arrayLength; i++) {
            if(batterier[i].cells == cellSelect.value){    //now only displays batteries with the x number of cells
                var opt = document.createElement("option");
                opt.value= batterier[i].id;
                opt.innerHTML = batterier[i].capacity + ' - # ' + batterier[i].id;

                batterySelect.appendChild(opt);
            }
            
        }
    }

    function sendFetch(){
        var url = './oppgave9POST.php';
        var formData = new FormData();
        formData.append('batteripakke', batterySelect.value);
        formData.append('fartoy', aircraftSelect.value);
        formData.append('flytid', document.getElementById('flytid').value);
        formData.append('kapasitet', document.getElementById('kapasitet').value);
        formData.append('dato', document.getElementById('dato').value);

        fetch(url, { method: 'POST', body: formData })
        .then(function (response) {
        return response.text();
        })
        .then(function (body) {
        console.log(body);
        document.querySelector('h2').innerHTML = body;
        });
    }

</script>
</body>
</html>