<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Last opp bilde av fartøy</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<h1>Last opp bilde av fartøy</h1>
<br>
<h2>{{melding}}</h2>
<br>

<div class="row col-md-4">
    <div class="col">
        <label for="fartoy" style="">Fartøy</label>
    </div>
    <div class="col">
        <select id="fartoy" name="fartoy" onchange="updateImages()" class="form-control">
            <!-- JavaScript at the bottom fills here -->
        </select>
    </div>
</div>

<div>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" >
        <progress id="progress" value="0" max="100"></progress>
        <input type="submit" onclick="sendFile()" value="Last opp bilde">
    </form>
</div>
<div id="imageDiv" style="margin-top: 20px;">
</div>

<script type="text/javascript">
    // retrieves the battery array from twig, and ads option elements to the select thing
    // I used these answers from stackoverflow to make it:
    // https://stackoverflow.com/a/6601129
    // https://stackoverflow.com/a/13929052

    var aircrafts = {{aircrafts|json_encode|raw}};

    var aircraftSelect = document.getElementById('fartoy');

    var arrayLength = aircrafts.length;
    for (var i = 0; i < arrayLength; i++) {
        var opt = document.createElement("option");
        opt.value= aircrafts[i].id;
        opt.innerHTML = aircrafts[i].name;

        aircraftSelect.appendChild(opt);
    }

    updateImages();

    function updateImages(){
        var imgdiv = document.getElementById('imageDiv');
        //removes old images before adding new
        while (imgdiv.firstChild) {
            imgdiv.removeChild(imgdiv.firstChild);
        }
        var images = {{images|json_encode|raw}};
        var imagesLength = images.length;

        for (var j = 0; j < imagesLength; j++) {
            var craftSelected = document.getElementById('fartoy');
            var selected = craftSelected.options[craftSelected.selectedIndex].value;
            if(images[j].craftID == selected){
                var a = document.createElement("a");
                a.href = "./images/"+images[j].filename;
                a.download = images[j].filename;
                var img = document.createElement("img");
                img.src = 'data:image/png;base64,'+images[j].media;
                a.appendChild(img);
                imgdiv.appendChild(a);
            }
        }
    }

    //all the code from here and down is taken from:
    //https://bitbucket.org/okolloen/imt2291-v2018/src/master/javascript_forelesning1/file_upload_w_progressbar/index.html
    function sendFile() {
        let file = document.querySelector('#file');
        file = file.files[0];  // First file in file input field

        const progress = document.querySelector('#progress');


        const xhr = new XMLHttpRequest();
        xhr.file = file; // not necessary if you create scopes like this
        xhr.addEventListener('progress', function(e) {
            const done = e.position || e.loaded, total = e.totalSize || e.total;
            progress.value = (Math.floor(done/total*1000)/10);
            console.log('xhr progress: ' + (Math.floor(done/total*100)) + '%');
        }, false);

        if ( xhr.upload ) {
            xhr.upload.onprogress = function(e) {
                const done = e.position || e.loaded, total = e.totalSize || e.total;
                progress.value = (Math.floor(done/total*100));
                console.log('xhr.upload progress: ' + done + ' / ' + total + ' = ' + (Math.floor(done/total*1000)/10) + '%');
            };
        }

        xhr.onreadystatechange = function(e) {
            if ( 4 == this.readyState ) {
                const res = JSON.parse(e.target.response);
                console.log(['xhr upload complete', e, res]);
                // File transfer successfull
            }
        };
        xhr.withCredentials = true;    // Needed to send the session id cookie
        xhr.open('post', './oppgave4.php', true);
        xhr.setRequestHeader("Content-Type", "application/octet-stream");
        xhr.setRequestHeader("X-OriginalFilename", file.name);
        xhr.setRequestHeader("X-OriginalFilesize", file.size);
        xhr.setRequestHeader("X-OriginalMimetype", file.type);
        xhr.setRequestHeader("X-OriginalID", document.getElementById('fartoy').value)
        // Add any other information about the file to be transfered as X-......
        xhr.send(file);
    }


</script>
</body>
</html>