<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">

<dom-module id="tree-view">
  <template>
    <style>
      :host {
        display: block;
      }
      ul {
        list-style-type: none;
        padding: 2px;
        margin: 0;
      }
      li.active {
        background-color: #EEE;
      }
    </style>
    <ul id="jsonList">
        <template is="dom-repeat" items="[[toArray(data)]]" as="dat">
          <p>[[saveObj(data)]]</p>
          <li data-id$="[[dat.id]]">[[dat]]</li>
          <template is="dom-repeat" items="[[toArray(dat)]]" as="da">
              <li data-id$="[[da.id]]">[[da]]</li>
          </template>
        </template>
      </ul>
  </template>

  <script>
    /**
     * `tree-view`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyOppgave11 extends Polymer.Element {
      static get is() { return 'tree-view'; }
      static get properties() {
        return {
          data: {
            type: Object,
            value: null
          }
        };
        
      }
      
      toArray(obj) {
            return Object.keys(obj).map(function(key) {
                return {
                    name: key,
                    value: obj[key]
                };
            });
        }

        saveObj(obj){
          this.data = obj;
          console.log(this.data);

          var list = this.shadowRoot.getElementById('jsonList');
          var length = this.data.length;
          for(var i = 0; i < length; i++){
            var li = document.createElement('li');
            li.innerHTML = this.data[i];

          }
          

        }

      //Code from https://bitbucket.org/okolloen/imt2291-v2018/src/master/uke14_onsdag/subtitle-view/subtitle-view.html
      ready() {
        super.ready();
        Polymer.RenderStatus.afterNextRender(this, function() {
          // this.$ gives easy access to all elements with ID
          this.$.jsonList.addEventListener('click', this.handleClick.bind(this));
          // Bind this in handleClick to current value of this
          // If not the this in handleClick would be the cueList
        });
      }

      handleClick (e) {
        this.dispatchEvent(new CustomEvent('cueSelected',
          // Dispatch (send) a customEvent of cueSelected with the given details
          {detail:
            {id: e.path[0].dataset.id}
          })
        );
      
        console.log (e);
      }

      //to here ^



    }
        




    window.customElements.define(MyOppgave11.is, MyOppgave11);
  </script>
</dom-module>
