<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../my-components/my-oppgave11.html">

<dom-module id="polymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="ajax" auto with-credentials="true" url="[[URL]]" handle-as="json" content-type="application/x-www-form-urlencoded"
    on-response="handleResponse" last-response="{{response}}" debounce-duration="300"></iron-ajax>
    <h2>Hello [[prop1]]!</h2>
    <div class="row col-md-4">
        <div class="col">
            <label for="fartoy" style="">Fartøy</label>
        </div>
        <div class="col">
            <select id="fartoy" name="fartoy" class="form-control">
                <!-- JavaScript at the bottom fills here -->
            </select>
        </div>
    </div>

    <div id="imageDiv" style="margin-top: 20px;">
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PolymerApp extends Polymer.Element {
      static get is() { return 'polymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'polymer-app'
          },
          URL: {
            type: String,
            value: "http://localhost/imt2291-eksamen-v2018/RC/api.php"
          },
          aircrafts: {
            type: Object,
            value: null
          },
          images: {
            type: Object,
            value: null
          }
        }
      };

      handleResponse(res){
        this.set('aircrafts', res.detail.response.aircrafts);
        this.set('images', res.detail.response.images);

        this.updateAircrafts();
        this.updateImages();
      }
      updateAircrafts(){
        var aircrafts = this.aircrafts;
        console.log(aircrafts);
        var aircraftSelect = this.shadowRoot.getElementById('fartoy');
        
        var arrayLength = aircrafts.length;
        for (var i = 0; i < arrayLength; i++) {
            var opt = document.createElement("option");
            opt.value= aircrafts[i].id;
            opt.innerHTML = aircrafts[i].name;

           // this.aircraftSelect.appendChild(opt);
            aircraftSelect.appendChild(opt);
        }

        //update images based on which aircraft is chosen :)
        aircraftSelect.addEventListener("change", e=>{
                    this.updateImages();
                });
      }

      //more or less the same code i've used for most of my answers using JS
      updateImages(){
        var imgdiv = this.shadowRoot.getElementById('imageDiv');
        //removes old images before adding new
        while (imgdiv.firstChild) {
            imgdiv.removeChild(imgdiv.firstChild);
        }
        var images = this.images;
        var imagesLength = images.length;

        for (var j = 0; j < imagesLength; j++) {
            var craftSelected = this.shadowRoot.getElementById('fartoy');
            var selected = craftSelected.value;
            if(images[j].craftID == selected){
                var a = document.createElement("a");
                a.href = "./images/"+images[j].filename;
                a.download = images[j].filename;
                var img = document.createElement("img");
                img.src = 'data:image/png;base64,'+images[j].media;
                a.appendChild(img);
                imgdiv.appendChild(a)
            }
        }
      }
      
    }

      
    window.customElements.define(PolymerApp.is, PolymerApp);
  </script>
</dom-module>
